# Security - NEVER commit secrets
.env

# Python system files
__pycache__/
*.pyc

# Virtual Environment (Too large, OS specific)
venv/
.venv/

# Logs
*.log
project_run.log
test_run.log

# OS specific
.DS_Store

test.py