fastapi
uvicorn[standard]
google-generativeai
python-dotenv
playwright
pandas
matplotlib
requests
beautifulsoup4
lxml
pdfplumber
pydantic

scikit-learn
scipy
numpy

duckdb
pyarrow
fastparquet
openpyxl

Pillow
soundfile
python-dateutil